/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/
@import url("components/header.css");
@import url("components/bullbar.css");
@import url("components/spinner.css");

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Bungee");

body {
  margin: 0 auto;
  background-color: #151515;/*#2C2C2C;*/
  font-family: "Roboto", sans-serif;

}
.main-container {
  /*border: 5px solid white;*/
  max-width: 600px;
  margin: 0 auto;
}
