/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/
@import url("components/header.css");
@import url("components/spinner.css");
@import url("components/textfield.css");

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Bungee");

body {
  background-color: #2C2C2C;
  font-family: "Roboto", sans-serif;
}

.logo-img img{
  display: block;
}

#bull-bar {
  display: block;
  background-color: white;
  padding: 16px;
  color: #2C2C2C;
  text-decoration: none;
  font-size: 41px;
  text-align: center;
  border-radius: 52px;
}

.main-container {
  width: 500px;
  margin: 0 auto;
}

