@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  overflow: hidden;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #404040;
  color: white;
  margin: 0 auto;
}
canvas {
  margin:10px;
  text-align: center;
}
