/*-------- HEADER ---------*/
.header {
  height: 13%;              /* adjust percentage */
  /*border: 5px solid green;*/
  display: flex;
  justify-content: center;
}
#logo-img {
  width: 40%;               /* resize "BULL PITCH" font logo */
  min-width: 150px;
  margin-top: 23px;
}
