/*-------- HEADER ---------*/
.header {
  /*border: 5px solid green;*/
}
.header > a {
  /*border: 5px solid lightgreen;*/
  height: 13%;              /* adjust percentage */
  display: flex;
  justify-content: center;
}
#logo-img {
  width: 40%;               /* resize "BULL PITCH" font logo */
  min-width: 150px;
  margin-top: 23px;
}
