.spinner {
  width: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  position: relative;
}
#spinner-img {
  width: 350px;
  height: 350px;
  transition: transform 5s;
}
.spinner h1 {
  font-size: 27px;
  font-family: 'Bungee', cursive;
  background-color: white;
  color: black;
  width: 148px;
  height: 148px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 101px;
  left: 101px;
  box-shadow: 0 0 15px rgba(0,0,0,.6);
  box-sizing: border-box;
  padding-top: 61px;
  /*transition: box-shadow .05s ease-in;*/
  letter-spacing: 4px;
}
.spinner h1:active {
  box-shadow: 0 0 0 rgba(0,0,0,.0);
}

