.spinner {
  width: 350px;
  display: block;
  margin: 50px auto;
  position: relative;
}

#spinner-img {
  width: 350px;
  height: 350px;
  transition: transform 1s;
}

.spinner h1 {
  font-size: 32px;
  font-family: 'Bungee', cursive;
  background-color: white;
  color: black;
  width: 138px;
  height: 138px;
  margin: 0;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 106px;
  left: 106px;
  box-shadow: 0 0 15px rgba(0,0,0,.6);
  box-sizing: border-box;
  padding-top: 51px;
}


#spinner-img {
  display: block;
  margin: auto;
}
