.textfield {
  height: 64px;
  width: 266px;
  border-radius: 35px;
  color: black;
  font-size: 30px;
  background-color: #FFF;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
}

.textfield > p {
}
